*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  user-select: none;
}

body{
  font-family: sans-serif;
}

div.empty{
  background:url('assets/img/empty-state.png') no-repeat center;
  background-size:contain;
  opacity:0.6;
  width:100%;
  height: 200px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

ul.devices{
  list-style: none;
  margin:8px;
  border:1px solid #dcdcdc;
  border-radius:4px;
  overflow: hidden;
}

ul.devices > li.device {
  cursor:pointer;
  padding: 8px;
  border-bottom: 1px solid #dcdcdc;
}

ul.devices > li.device:last-child{
  border:none;
}

ul.devices > li.device.selected {
  background:#F0F4C3;
  color: #33691E;
}

ul.devices > li.device.selected::before{
  content:'✔️';
  line-height: 0;
  margin-right:8px;
}

div.info{
  font-size:14px;
  text-align:center;
  padding:8px 12px;
  color:#7E6514;
  background-color:#FEF8E7;
  /* border:1px solid #7E6514; */
  border-radius:4px;
  margin: 4px 8px;
}

div.notifications {
  /* background:rgba(255,0,0,0.4); */
  position: absolute;
  width: 100%;
  bottom:0;
}

div.notifications > div.notification {
  opacity:0.6;
  font-size:12px;
  padding:6px 12px;
  background-color:#F9F9FB;
  color:#234361;
  border-top:1px solid currentColor;
  cursor: pointer;
}

div.notifications > div.notification:hover{
  opacity:1;
}

div.notification::before{
  content: '👻';
  font-weight: bold;
  margin-right:8px;
}

div.notifications > div.notification.yellow {
  color:#7E6514;
  background-color:#FEF8E7;
}

div.notification.yellow::before{
  content:'WARNING'
}

div.notifications > div.notification.green {
  color:#00783E;
  background-color:#F1FAF5;
}

div.notification.green::before{
  content:'SUCCESS'
}

div.notifications > div.notification.blue {
  color:#084B8A;
  background-color:#F7F9FD;
}
div.notification.blue::before{
  content:'INFO'
}

div.notifications > div.notification.red {
  color:#BF0E08;
  background-color:#FAE2E2;
}
div.notification.red::before{
  content:'ERROR'
}